:root
{
    --container-width:520px;
}
*
{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body
{
    width:100%;
    height:100vh;
    padding: 4vh 2vw;
    display:flex;
    justify-content:center;
    align-items:center;
    
    
    
}

.container
{
    margin: 0 auto;
    width: var(--container-width);
    height: var(--container-width);    
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid salmon;

}


.box
{

}

.border
{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    /* border: 1px solid black; */
}

.changeColor
{
    background-color: red;
}


.btn
{
    background-color: gray;
    color: white;
    padding: 8px 16px;
    /* border: 2px solid black; */
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.controls 
{
    display:flex;
    justify-content:start;
    align-items:stretch;
    row-gap: 1rem;
    flex-direction: column;
    margin-bottom: 1rem;
    height: var(--container-width);
    /* border: 1px solid red; */
}


input[type='color']
{
    background-color: inherit;
    border: 1px solid white;
    height: 40px;
   
    /* border: 2px solid white; */
}

.changeBg 
{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    row-gap: 1rem;
}